<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="pl.edu.wat.wcy.isi.ai.i4e1s1.ApplicationSpringBoot" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="WarsztatRepozytorium" />
    <envs />
    <method />
  </configuration>
</component>